[Unit]
Description=Audio Service (wakeword + VAD + streaming)
After=spotifyd.service mpv.service

[Service]
Type=simple
EnvironmentFile=%h/.env
Environment=LD_LIBRARY_PATH=%h/libs/linux-aarch64
WorkingDirectory=%h
ExecStart=%h/audio --consumer-bind 0.0.0.0:50051 --producer-bind 0.0.0.0:50052 --mixer-name "XVF3800 SoftMaster" --tts-volume-boost 15 --input-channel 0
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=default.target
